*{
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container_1 {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
    .header {
    background-color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 100px;
  }
.avatar {
    height: 70px;
    width: 70px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
.h1 {
  margin-left: 20px;
    margin-right: 50px;
    margin-top: 4px;
}
.h2 {
  margin-left: 220px;
  font-size: 36px;
  color: #a39f9f;
  margin-bottom: 20px;
 }
.text {
  margin-left: 270px;
  font-size: 24px;
  line-height: 40px;
  color: #2e2a2a;
  margin-bottom: 40px;
}
.text-1 {
  margin-left: 290px;
  font-size: 24px;
  line-height: 40px;
  color: #2e2a2a;
  margin-bottom: 40px;
}
.pre {
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.footer{
  display: flex;
  margin-bottom: 24px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
 }
.logo-git {
  width: 200px;
}
.logo-rs {
  width: 180px;
}
.year {
  font-size: 58px;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}